body{
    background-image: url('../images/simple.gif');
}
.head{
    display: table;
    background-color: orange;

}
h1{
    color:white;
}
.rules{
    display:table;
    background-color: antiquewhite;

}

#randomNum{
    padding:50px;
    display: table;
    background-color: green;

}
#infoBox{
    display:table;
    background-color: aquamarine;
}
#totalScore{
    display:table;
    background-color: darkgreen;
    color:white;
    padding:50px;
}
#score{
    display:table;
    background-color: darkgreen;
    color:white;
    
}
img{
    width:150px;
    height:150px;
    border:solid 2px green;
}